@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Rubik:wght@300;400;600;700&display=swap');

:root {
	--success-color: #2ecc71;
	--error-color: #e74c3c;
}

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./img/bg.jpg');
	background-size: cover;
	background-position: center top;
	font-family: 'Rubik', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	width: 400px;
}

h2 {
	font-weight: 300;
	text-align: center;
	margin: 0 0 20px;
	color: white;
}

.form {
	padding: 30px 40px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	color: #fff;
	display: block;
	margin-bottom: 5px;
	font-weight: 300;
}

.form-control input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #f0f0f0;
	display: block;
	width: 100%;
	padding: 10px 0;
	font-size: 14px;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.form-control input#username {
	background-color: transparent;
}
.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: var(--success-color);
}

.form-control.error input {
	border-color: var(--error-color);
}

.form-control small {
	color: var(--error-color);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	cursor: pointer;
	background-color: crimson;
	border: 2px solid crimson;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
